.frameContainer {
    width: 100%;
    height: calc(100vh - 63px);
    height: calc((var(--vh, 1vh) * 100) - 63px);
    position: relative;
}

.controlsContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
}